@media screen and (max-width: 768px) {
    header {
        padding: 34px 45px 34px 19px;
    }
    nav, .search-wrapper {
        display: none;
    }
    .burger {
        display: block;
    }

    .logo {
        margin-right: 0;
        width: 93px;
    }

    .topic-left, .topic-right_buttons {
        display: none;
    }

    .topic-right {
        width: 100%;
        /* height: 216vh; */
        justify-content: center;
    }

    .sales1 {
        flex-direction: column-reverse;
        padding: 0 0 60px 0;
    }
    .sales1-offer {
        width: 100%;
        height: auto;
        padding-bottom: 60px;
    }

    .sales1-back {
        width: 100%;
        height: 112vh;
        margin-bottom: 19px;
    }

    .new_items {
        justify-content: center;
        padding-bottom: 60px;
    }
    .block-name {
       justify-content: center;
    }

    .range:not(:last-child) {
        display: none;
    }

    .sales2 {
        padding: 0;
        margin: 0;
        flex-direction: column;
    }

    .sales2-offer, .sales2-back {
        width: 100%;
    }
    .sales2-offer {
        height: auto;
    }

    .sales {
        display: none;
    }
    .brands, .new-range {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
    }
    .block-name-long {
        display: none;
    }
    .block-name-short {
        display: block;
        padding-bottom: 44px;
    }

    .brands-logo:not(:nth-child(6)) {
        display: none;
        justify-content: center;
    }
    .brands-logo {
        margin-bottom: 0;
    }

    .arr-brands {
        display: block;
    }
    .range-but img {
        width: 44px;
    }

    .benefits-name {
        width: 40%;
    }

    .benefits h4 {
        font-size: 42px;
        line-height: 51px;
    }
    .benefits img {
        width: 62px;
        height: 57px;
    }
    .benefits p {
        font-size: 20px;
        line-height: 27px;
    }
    .our-benefits {
        width: 50%;
        flex-wrap: wrap;
        /* justify-content: center ; */
    }
    .benefits-icons {
        width: 145px;
    }

    .logo-footer {
        display: none;
    }

    .logo-footer-short {
        display: block;
        width: 270px;
        height: 233px;
    }
    .footer-row1 {
        flex-direction: column-reverse;
        width: 35%;
        padding-top: 40px;
        text-align: center;
        align-items: center;
        padding-bottom: 73px;
    }
    .footer-row1 a {
        padding-bottom: 37px;
    }
    .subscribe {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .email {
        width: 284px;
        height: 55px;
        margin-right: 0;
        margin-bottom: 37px;
    }
    .sudscribe-but {
        width: 284px;
        height: 68px;
    }  
    
    .social img {
        width: 50px;
        height: 47px;
    }
    .social a:not(:last-child) {
        margin-right: 36px;
    }

    .copyright {
        width: 50%;
        justify-content: center;
        align-items: center;
    }
    .copyright img {
        width: 46px;
        height: 43px;
        margin-right: 39px;
    }
    .copyright p {
        text-align: center;
    }
}